<div class="flex-row">
  <button class="selection-button" routerLink="/welcome" routerLinkActive="active">< Back to landing</button>
</div>
<div class="flex-column">
  <h2 class="header-text">Please select the image you would like to process:</h2>
</div>
<ngu-carousel class="banner"
  [inputs]="carouselTile"
  (carouselLoad)="carouselTileLoad($event)"
  (onMove)="onmoveFn($event)">
  <ngu-tile NguCarouselItem *ngFor="let Tile of carouselTileItems">
    <img src="{{Tile.src}}">
  </ngu-tile>

  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>
<div class="flex-column">
  <div class="flex-row">
    <button class="selection-button" (click)="onProcessImageClicked()" [disabled]="imageSelected">Process Image {{selectedImage}}</button>
    <button class="selection-button" (click)="onResetClicked()" [disabled]="!imageProcessorService.finishedLoading">
      Reset
    </button>
  </div>
</div>
<div class="flex-column">
  <div id="downloadContainer"></div>
  <div class="flex-row">
    <div class="flex-column" *ngIf="imageSelected">
      <h2 class="header-text" id="processingImageText">Processing image...</h2>
      <canvas id="imageToProcess"></canvas>
    </div>
  </div>
</div>
