.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.selection-button {
  color: black;
  background-color: #3e74bc;
  border-radius: 8px 8px;
  width: 160px;
  height: 60px;
  margin: 20px;
}
